# Node Provider JSON-RPC endpoint (e.g., Alchemy, Infura, local node)
RPC_URL=http://127.0.0.1:8545

# Wallet submitting the tx
PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# Address of deployed Orb Oracle
ORACLE_ADDRESS=0x0000000000000000000000000000000000000000

# Rest API for fetching price (e.g. CoinGecko, Binance, Pyth off-chain API)
FEED_URL=https://api.coingecko.com/api/v3/simple/price?ids=cardano&vs_currencies=usd

# Chainlink Aggregator Contract Address (Optional, if set it will fetch from Chainlink)
CHAINLINK_FEED_ADDRESS=
# RPC Url to use for Chainlink feed (Optional, defaults to RPC_URL)
CHAINLINK_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY

# Pyth Price Feed ID (Defaults to ADA/USD)
PYTH_PRICE_ID=0x2a01deaec9e51a579277b34b122399984d0bbf57e2458a7e42fecd2829867a0d

# Frequency of submissions in milliseconds
UPDATE_INTERVAL_MS=60000

# Minimum token amount required to submit 
MIN_STAKE_REQUIRED=10
